$mobile-page-header: (
  "text-size": 1.5rem,
  "line-height": 2rem,
  "text-weight": 700,
);

$mobile-section-header: (
  "text-size": 0.75rem,
  "line-height": 1.25rem,
  "text-weight": 700,
);

$mobile-section-subheader: (
  "text-size": 0.813rem,
  "line-height": 1.125rem,
  "text-weight": 700,
);

$mobile-body-copy: (
  "text-size": 0.813rem,
  "line-height": 1.125rem,
  "text-weight": 400,
);

$mobile-button-text: (
  "text-size": 0.75rem,
  "line-height": 1.25rem,
  "text-weight": 700,
);
$mobile-label-text: (
  "text-size": 0.75rem,
  "line-height": 1.25rem,
  "text-weight": 700,
);

$tablet-page-header: (
  "text-size": 2.063rem,
  "line-height": 2.75rem,
  "text-weight": 700,
);

$tablet-section-header: (
  "text-size": 0.75rem,
  "line-height": 1.25rem,
  "text-weight": 700,
);

$tablet-section-subheader: (
  "text-size": 0.875rem,
  "line-height": 1.375rem,
  "text-weight": 700,
);

$tablet-body-copy: (
  "text-size": 1rem,
  "line-height": 1.375rem,
  "text-weight": 400,
);

$tablet-button-text: (
  "text-size": 0.75rem,
  "line-height": 1.25rem,
  "text-weight": 700,
);
$tablet-label-text: (
  "text-size": 0.75rem,
  "line-height": 1.25rem,
  "text-weight": 700,
);
