@use "../../styles/partials/typography.scss" as type;
@use "../../styles/partials/variables";
@use "sass:map";
@use "../../styles/partials/mixins";

.video-title {
  font-size: map.get(type.$mobile-page-header, "text-size");
  line-height: map.get(type.$mobile-page-header, "line-height");
  font-weight: map.get(type.$mobile-page-header, "text-weight");
  margin-top: variables.$margin-top-headline-mobile;
  margin-bottom: variables.$margin-bottom-headline-mobile;
  padding-top: variables.$margin-top-headline-mobile;
  margin: 0 variables.$margin-mobile-LR;

  @include mixins.devices(tablet) {
    font-size: map.get(type.$tablet-page-header, "text-size");
    line-height: map.get(type.$tablet-page-header, "line-height");
    font-weight: map.get(type.$tablet-page-header, "text-weight");
    margin-top: variables.$margin-top-headline-tablet;
    margin-bottom: variables.$margin-bottom-headline-tablet;
    padding-top: variables.$margin-top-headline-tablet;
    margin: 0 variables.$margin-tablet-LR;
  }
  @include mixins.devices(desktop) {
  }
}
