@use "../../styles/partials/variables";
@use "../../styles/partials/colours";
@use "../../styles/partials/mixins";

.videoAnalytics {
  height: 5rem;
  margin: variables.$margin-mobile-between-components
  variables.$margin-mobile-LR;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid colours.$Silver;
  border-bottom: 1px solid colours.$Silver;

  @include mixins.devices(tablet) {
    display: none;
  }

  &__by-channel {
    font-weight: 700;
    width: 50%;
  }
  &__views-container {
    color: colours.$Silver;
    width: 50%;
  }
  &__views-image {
    margin-right: 1rem;
  }
  &__date {
    color: colours.$Silver;
    width: 50%;
  }
  &__likes-container {
    color: colours.$Silver;
    width: 50%;
  }
  &__likes-image {
    margin-right: 1rem;
  }
}

.videoAnalytics-large {
  display: none;
  @include mixins.devices(tablet) {
    display: flex;
    margin: variables.$margin-tablet-between-components
    variables.$margin-tablet-LR;
    justify-content: space-between;
    border-top: 0;
    align-items: center;
    border-bottom: 1px solid colours.$Silver;
    padding-bottom: 1rem;

  }

  &__column1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }
  &__column2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  &__by-channel {
    font-weight: 700;

    @include mixins.devices(tablet) {
      width: 10rem;
    }
  }
  &__date {
    color: colours.$Silver;
    @include mixins.devices(tablet) {
      width: 5rem;
    }
  }

  &__views-container {
    color: colours.$Silver;

    @include mixins.devices(tablet) {
    }
  }
  &__views-image {
    margin-right: 1rem;
  }

  &__likes-container {
    color: colours.$Silver;

    @include mixins.devices(tablet) {
    }
  }
  &__likes-image {
    margin-right: 1rem;
  }
}
