@use "../../styles/partials/typography" as t;
@use "../../styles/partials/colours";
@use "../../styles/partials/variables";
@use "sass:map";
@use "../../styles/partials/mixins";

.write-comments {
  margin: variables.$margin-mobile-between-components
    variables.$margin-mobile-LR;
  font-size: map.get(t.$mobile-body-copy, "text-size");
  line-height: map.get(t.$mobile-body-copy, "line-height");
  font-weight: map.get(t.$mobile-body-copy, "text-weight");
  border-bottom: 1px solid colours.$Silver;

  @include mixins.devices(tablet) {
    margin: variables.$margin-tablet-between-components
      variables.$margin-tablet-LR;
    font-size: map.get(t.$tablet-body-copy, "text-size");
    line-height: map.get(t.$tablet-body-copy, "line-height");
    font-weight: map.get(t.$tablet-body-copy, "text-weight");
  }

  &__number {
    font-size: map.get(t.$mobile-section-subheader, "text-size");
    line-height: map.get(t.$mobile-section-subheader, "line-height");
    font-weight: map.get(t.$mobile-section-subheader, "text-weight");
    margin-bottom: 1rem;
  }

  &__form-container {
    width: 100%;
    display: flex;
    border-bottom: 1px solid colours.$Mercury;
    justify-content: space-between;
    @include mixins.devices(tablet) {
      justify-content: flex-start;
      gap: 7rem;
    }
  }

  &__col1-image {
    width: 18%;
    vertical-align: middle;

    @include mixins.devices(tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 8%;
    }
  }
  &__avatar {
    width: 4rem;
    height: 3.2rem;
    border-radius: 50%;
  }

  &__col2-form {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include mixins.devices(tablet) {
      width: 100%;
      flex-direction: row;
      position: relative;
    }
  }

  &__form-label {
    margin-bottom: 4px;
    color: colours.$Mercury;
    @include mixins.devices(tablet) {
      position: absolute;
      left: 8%;
      top: -40%;
    }
  }

  &__comment-area {
    width: 100%;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid colours.$Mercury;
    height: 5rem;
    resize: none;
    margin-bottom: 1.2rem;
    font-size: map.get(t.$mobile-body-copy, "text-size");
    line-height: map.get(t.$mobile-body-copy, "line-height");
    font-weight: map.get(t.$mobile-body-copy, "text-weight");

    @include mixins.devices(tablet) {
      font-size: map.get(t.$tablet-body-copy, "text-size");
      line-height: map.get(t.$tablet-body-copy, "line-height");
      font-weight: map.get(t.$tablet-body-copy, "text-weight");
      width: 70%;
      height: 3rem;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: map.get(t.$mobile-button-text, "text-size");
    line-height: map.get(t.$mobile-button-text, "line-height");
    font-weight: map.get(t.$mobile-button-text, "text-weight");
    margin: 1rem 0;
    color: colours.$White;
    background-color: colours.$BrainFlix-Blue;
    border: 0;
    width: 100%;
    height: 2.5rem;
    border-radius: 4px;
    position: relative;

    &:hover {
      background-color: colours.$BrainFlix-DarkBlue;
    }

    @include mixins.devices(tablet) {
      width: 8rem;
    }
  }

  &__icon {
    margin-left: 0.5rem;
    position: absolute;
    left: 0;
  }
}
