@use "../../styles/partials/typography" as t;
@use "../../styles/partials/colours";
@use "../../styles/partials/variables";
@use "../../styles/partials/mixins";
@use "sass:map";

.display-comments {
  margin: variables.$margin-mobile-between-components
    variables.$margin-mobile-LR;
  background-color: colours.$White;

  font-size: map.get(t.$mobile-body-copy, "text-size");
  line-height: map.get(t.$mobile-body-copy, "line-height");
  font-weight: map.get(t.$mobile-body-copy, "text-weight");

  @include mixins.devices(tablet) {
    margin: 0 variables.$margin-tablet-LR;
    font-size: map.get(t.$tablet-body-copy, "text-size");
    line-height: map.get(t.$tablet-body-copy, "line-height");
    font-weight: map.get(t.$tablet-body-copy, "text-weight");
  }

  &__card {
    width: 100%;
    display: flex;
    border-bottom: 1px solid colours.$Mercury;
    justify-content: space-between;
    margin: 2rem 0;
  }

  &__card-col1 {
    width: 15%;
    margin: auto;
  }

  &__avatar {
    width: 4rem;
    height: 3.2rem;
    border-radius: 50%;
  }

  &__card-col2 {
    height: 90%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    // @include mixins.devices(tablet) {
    //   height: 18rem;
    // }
  }

  &__heading-row1 {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }

  &__heading-row2 {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
  }
  &__card-header {
    display: inline-block;
  }

  &__like-button {
    margin: 0 1rem;
  }
  &__likes-counter {
    margin: 0 1rem;
  }
  &__delete-button {
    margin: 0 0 0 1rem;
  }
  &__comment-text {
    margin-bottom: 1rem;
    color: colours.$BrainFlix-Black;
    font-weight: 600;
  }
}
